@model PhoneStore.Models.phone

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>@Model.name</h2>

@using (Html.BeginForm("Edit", "AdminProducts", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="checkbox-img">
        <div class="box-img-admin">
            <img id="blah" src="~/image/@Model.image1" alt="" width="80px" height="80px" /><br>
            <input accept="image/*" type='file' id="imgInp" name="Image1" />
            <label for="imgInp"><i class="bi bi-upload">Hình 1</i></label>
            @Html.HiddenFor(model => model.image1)
        </div>
        <div class="box-img-admin">
            <img id="bleh" src="~/image/@Model.image2" alt="" width="80px" height="80px" /><br>
            <input accept="image/*" type='file' id="imgImp" name="Image2" />
            <label for="imgImp"><i class="bi bi-upload">Hình 2</i></label>
            @Html.HiddenFor(model => model.image2)
        </div>
        <div class="box-img-admin">
            <img id="bldh" src="~/image/@Model.image3" alt="" width="80px" height="80px" /><br>
            <input accept="image/*" type='file' id="imgIop" name="Image3" />
            <label for="imgIop"><i class="bi bi-upload">Hình 3</i></label>
            @Html.HiddenFor(model => model.image3)
        </div>
    </div>

    <div class="detail-admin">
        <div class="projects">
            <div class="card-body">
                @Html.HiddenFor(model => model.id)
                <span>Tên sản phẩm</span>
                <input type="text" name="name" class="form-control" value="@Model.name" /><br>
                <label>Số lượng:</label>
                <input type="number" name="stock" min="1" max="10000" value="@Model.stock" class="form-control" style="width:100px"><br>
                <span>Giá</span>
                <input type="text" id="fname" name="price" class="form-control" placeholder="Giá sản phẩm" value="@Model.price" /><br>

                <input type="checkbox" id="myCheck" onclick="myFunction()">
                <span>Giảm giá</span>

                <input type="text" id="text" name="initial_price" style="display:none;" class="form-control" size="30" placeholder="Giá gốc" value="@Model.initial_price" />

                <div class="input-box" style="margin:10px 0px">
                    <label for="categories">Thương hiệu:</label>
                    @Html.DropDownList("category_id", (SelectList)ViewBag.CategoryID, "Chọn danh mục", new { @class = "form-control" })
                </div>
                <textarea class="input-introd-prod" name="description" placeholder="Giới thiệu sản phẩm" rows="10">@Model.description</textarea>
                <button type="submit" class="btn btn-success" style="width:70%">Lưu</button>
                <a href="@Url.Action("Delete")" class="btn btn-danger" style="width: 29%">Xóa</a>
            </div>
        </div>
    </div>
    <div class="checkbox-detail-admin">
        <table class="table table-striped">
            <tbody class="attributes-list-items">
                <tr>
                    <td>Chipset</td>
                    <td>@Html.EditorFor(model => model.chipset, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td>@Html.EditorFor(model => model.ram, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>Bộ nhớ trong</td>
                    <td>@Html.EditorFor(model => model.memory, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>Kích thước màn hình</td>
                    <td>@Html.EditorFor(model => model.screen_size, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>Hệ điều hành</td>
                    <td>@Html.EditorFor(model => model.os, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>Camera</td>
                    <td>@Html.EditorFor(model => model.camera, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>Pin</td>
                    <td>@Html.EditorFor(model => model.pin, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td style="padding-bottom: 5px;">Độ phân giải</td>
                    <td style="padding-bottom: 5px;">@Html.EditorFor(model => model.resolution, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
            </tbody>
        </table>
    </div>
}

<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
    imgImp.onchange = evt => {
        const [file] = imgImp.files
        if (file) {
            bleh.src = URL.createObjectURL(file)
        }
    }
    imgIop.onchange = evt => {
        const [file] = imgIop.files
        if (file) {
            bldh.src = URL.createObjectURL(file)
        }
    }
</script>

<div>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary", style = "margin-top: 5px;" })
</div>
