@model IEnumerable<PhoneStore.Models.news>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Danh sách tin tức</h2>


<a href="@Url.Action("Create")" class="btn btn-success mb-3">Thêm Tin Tức</a>

<table class="table table-bordered">
    <tr>
        <th>Tiêu đề</th>
        <th>Ngày đăng</th>
        <th>Công cụ</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.title</td>
                <td>@(item.created_at.HasValue ? item.created_at.Value.ToString("dd/MM/yyyy") : "Không xác định")</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-primary">Sửa</a>
                    <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


